<section id="blog" class="container">
    <div>
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit laboriosam unde ex ad reiciendis officia
            nostrum repudiandae! Nisi, corporis numquam!</p>
    </div>
</section>