<section id="search" class="search-wrap">

    <h1>Lorem, ipsum.</h1>
    <form action="/gigs/search" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" id="Input" name="term" placeholder="Find a dog breeder" autocomplete="off">
        <input type="submit" value="Search" onkeyup="searchFunction">
    </form>


    <ul id="searchUL">
        <li><a href="#">pug</a></li>
        <li><a href="#">poodle, puppy</a></li>
        <li><a href="#">Bruh</a></li>
        <li><a href="#">Bob</a></li>
        <li><a href="#">Calvin</a></li>
        <li><a href="#">Christina</a></li>
        <li><a href="#">Cindy</a></li>
    </ul>

</section>

<section class="container about">
    <h1>about us</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, veniam. Voluptatibus quis vitae eaque!
    </p>
</section>