@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --primary-color: #058d27;
  --primary-hover-color: #0a6621;
  --featured-color: #f1d314;
  --featured-hovor-color: #dabf15;
  --bg-color: #333;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #333;
  background: #f4f4f4;
}

.dark-background {
  background: var(--bg-color);
}

footer {
  border-top: 13px solid var(--primary-color);
  color: #fff;
  background: #121212;
  padding: 2.5rem;
  text-align: center;
}

.contact {
  font-size: 18px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.5rem;
  align-content: center;
}

.contact a {
  color: var(--primary-color);
}

.social {
  grid-column: 1 / span 2;
  text-align: center;
  padding: 1.5rem;
  font-size: 31px;
}

.about {
  text-align: center;
  color: #f4f4f4;
  font-size: 2rem;
  background: var(--bg-color);
  padding: 40px 4px;
}

h1 {
  color: #f4f4f4;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

p {
  color: #f4f4f4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
}

.gigs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 2rem;
  align-content: center;
}

.gigs-container {
  grid-gap: 1;
  display: grid;
}

.feat {
  margin: auto;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 1rem;
}

/* Login Button Spacing */
/*header nav li:last-child {
  margin-left: -5px;
}*/

header.inner {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  position: relative;
  box-shadow: var(--box-shadow);
}

/* Buttons */
.btn {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.7s;
}

.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-reverse {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-reverse:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}

.btn-featured {
  background: var(--featured-color);
  border: 1px solid var(--featured-color);
}

.btn-featured:hover {
  background: var(--featured-hover-color);
  border: 1px solid var(--featured-hover-color);
}

/* Home Search */
.search-background {
  background: url("../img/showcase.jpg") no-repeat center;
  position: sticky;
}

.search-wrap {
  height: 100vh;
  width: 100%;
  padding: 9.3rem 3rem;
  display: flex;
  position: sticky;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-wrap h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin: 0 0 1.5rem;
  text-align: center;
}

.search-form input[type="submit"] {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.8s;
}

.search-form input[type="submit"]:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}

.search-form {
  display: flex;
  width: 600px;
  box-shadow: var(--box-shadow);
}

.search-form i {
  color: #333;
}

/* Everything in the search form */
.search-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}

input[type="search"] {
  flex-basis: 600px;
}

/* Gigs */
.gigs {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  position: relative;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
}

.gigs ul {
  list-style: none;
  display: flex;
}

.gigs li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}

.gigs .tech span {
  color: var(--primary-color);
}

.gigs-image {
  position: absolute;
  bottom: 0px;
  right: 1rem;
  height: 6.5rem;
  max-width: 11.5rem;
  padding: 5px;
}

/*featured breeders*/
.featured {
  background: var(--bg-color);
  border-bottom: 4px solid var(--featured-color);
  position: relative;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
}

.featured ul {
  list-style: none;
  display: flex;
}

.featured li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}

.featured .tech span {
  color: var(--featured-color);
}

/* Form */
.form-wrap {
  margin: auto;
  background: var(--bg-color);
  color: #fff;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
}

.seperator {
  padding: 2rem 3rem;
}
/* Tablets */
@media (max-width: 800px) {
  .container {
    padding: 1rem 2rem;
  }

  header {
    flex-direction: column;
    padding: 0.3rem !important;
  }

  .search-form {
    width: 100%;
  }

  input[type="search"] {
    flex-basis: 100%;
  }

  .search-wrap h1 {
    font-size: 2rem;
  }

  .search-wrap {
    padding: 2.3rem;
  }

  .gigs ul {
    flex-direction: column;
  }

  .gigs .btn {
    margin-top: 1rem;
    text-align: left;
  }

  .gigs-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
  }

  .gigs-image {
    margin: 6px;
    padding: 0px;
    max-width: 12rem;
    max-height: 10rem;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 80%;
  }
}

/* Smartphones */
@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  header nav li {
    margin: 0 10px;
  }

  .search-form {
    display: flex;
    flex-direction: column;
  }

  input[type="search"] {
    flex-basis: 0;
  }

  .search-form i {
    display: none;
  }

  .form-wrap {
    padding: 1rem 2rem 2rem;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 100%;
  }

  .gigs-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
  }

  .gigs-image {
    bottom: 0;
    right: 0;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    align-content: center;
  }
}

/*smallest device*/
@media (max-width: 400px) {
  .gigs-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
  }

  .gigs-image {
    position: inherit;
  }
}
