<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <title>Aso</title>
</head>

<body>
    <header class="inner">
        <h2><a href="/"><i class="fas fa-paw"></i>
                Aso</a>
        </h2>
        <nav>
            <ul>
                <li>
                    <a href="/main">return to blog</a>
                </li>
            </ul>
        </nav>
    </header>
    <img href="cheery.jpg">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus eligendi omnis, non accusamus reprehenderit
        aliquam delectus distinctio debitis animi sunt reiciendis enim maiores a quia, dolore, sit tenetur libero maxime
        nemo nam exercitationem suscipit. Dolorum quisquam necessitatibus praesentium ratione asperiores obcaecati quos
        maiores tenetur. Impedit doloremque deleniti animi natus officia?</p>
</body>